.page {
  padding: 32px 40px 24px;
  background-color: #f3f3f3;
  min-height: 100vh;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
}

@media screen and (max-width: 430px) {
  .page {
    padding: 18px 16px 20px;
  }
  .page__content {
    max-width: 375px;
  }
}

@media screen and (max-width: 430px) {
}
