.header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 16px;
  position: relative;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 0 24px 0 0;
}

.header__location {
  margin: 0;
}

.header__button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 20px;
  cursor: pointer;
  padding: 0;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user-name {
  padding: 0 12px 0 0;
  margin: 0;
}

.header__mobile-button {
  visibility: hidden;
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
}

.header__mobile-menu {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 430px) {
  .header__user {
    visibility: hidden;
  }

  .header__wrap {
    display: block;
  }

  .header__location {
    margin: 0;
    margin-top: 34px;
  }

  .header__mobile-button {
    visibility: visible;
  }
}
