.footer {
  display: flex;
  justify-content: space-between;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  line-height: 20px;
}

.footer__name {
  margin: 0;
}

.footer__year {
  margin: 0 2px 0 0;
}
