.clothes {
  margin-top: 16px;
}

.clothes__header {
  display: flex;
  gap: 20px;
  margin-bottom: 17px;
}

.clothes__header-title {
  margin: 0;
}

.clothes__header-button {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #00000099;
  font-weight: 700;
  cursor: pointer;
}

.clothes__cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
